
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header.masthead {
  /* background-image: url('./aemassGreyLogo.png'); */
  background-attachment: scroll;
}

header.masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: '100%';
  width: '100%';
  top: 0;
  left: 0;
  opacity: 0.3;
}
